SERVICE_ACCOUNTS=("cac-solution-37505682288-sa@customer-org-test.iam.gserviceaccount.com")
CLOUD_RUN_SERVICE_AGENTS=("service-952296305655@serverless-robot-prod.iam.gserviceaccount.com")
CLOUD_STORAGE_SERVICE_AGENTS=("project-952296305655@storage-transfer-service.iam.gserviceaccount.com")

APP_CONTAINER_REPO=
GIT_CONTAINER_REPO=
OPA_CONTAINER_REPO=

BUCKET_NAME="cac-solution-production-data-hub"
DATA_PROJECT="production-org-test"
LOCATION="northamerica-northeast1"
