#adding comments
flask == 3.0.0
requests == 2.31.0
waitress == 2.1.2
google-auth == 2.24.0
google-cloud-storage == 2.13.0
marshmallow == 3.20.1
google-cloud-asset == 3.20.1
protobuf == 4.25.1
google-cloud-logging == 3.8.0
google-cloud-securitycenter == 1.24.1