flask == 3.0.3
requests == 2.32.3
waitress == 3.0.0
google-auth == 2.35.0
google-cloud-storage == 2.18.2
marshmallow == 3.22.0
google-cloud-asset == 3.26.4
protobuf == 5.28.2
google-cloud-logging == 3.11.2
google-cloud-securitycenter == 1.34.0