### GCP Organization Information
export PROJECT_ID="cacv2-devproj"
# Service Account Name
export SERVICE_ACCOUNT="cac-dev-37505682288-sa@cacv2-devproj.iam.gserviceaccount.com"
# Organization Name
export ORG_ID="37505682288"
export ORG_NAME="lab-rat.ca"
#export DOMAIN="lab-rat.ca"
export ORG_ADMIN_GROUP_EMAIL="gcp-organization-admins@163gccspm.gccspm.gc.ca"
# GC Cloud Usage Profile number
export GC_PROFILE="1"
export GCP_PROJECT="cacv2-devproj"
# Tag Key used to identify security classification of GCP resources
# example: a GCS bucket can be identified as containing Protected "A" data by tagging it
# SECURITY_CATEGORY: Protected A
export SECURITY_CATEGORY_KEY="DATA_CLASSIFICATION"
# List of Privileged Users and their regular account names
# Format: '(user:admin1@org.ca,user:admin2@org.ca,user:admin3@org.ca)'
export PRIVILEGED_USERS_LIST="user:jenn@lab-rat.ca"
export REGULAR_USERS_LIST="user:jenn.charland@pwc.com"
# List of Domains that are allowed/denied to access the GCP environment
# Format: 'ssc.gc.ca,domain2.ca'
export ALLOWED_DOMAINS="lab-rat.ca,pwc.com"
export DENY_DOMAINS="gmail.com"
export HAS_GUEST_USERS="False"

# List of CIDR Blocks allowed to access the GCP environment
# Format: 10.0.0.0/8,192.168.1.0/24
export ALLOWED_CIDRS='10.0.0.0/8,192.168.1.0/24'

# List of GCP Org and/or Workspace Customer IDs
# run `gcloud organization list` to find yours
# i.e. CUSTOMER_IDS=("C03xxxx4x,Abc123,XYZ890")
export CUSTOMER_IDS='C018hjxjn'

# List of Acceptable Certifcate Authorities
# Format: "Let's Encrypt,Verisign"
export CA_ISSUERS="Let's Encrypt,Verisign"



#############From SSC

export POLICY_REPO="cac_policies"
export POLICY_PROJECT="cacv2-devproj"
export REGION="northamerica-northeast1"
export CAC_IMAGE="northamerica-northeast1-docker.pkg.dev/cacv2-devproj/cac-python/cac-python:432552"
export OPA_IMAGE="northamerica-northeast1-docker.pkg.dev/cacv2-devproj/opa/opa:0.70.0-googlesdk"
export BRANCH="main"
export IMAGE_TAG="v2.0"
export POLICY_VERSION="2.0"
export GCS_BUCKET="compliance-hub-705810609657"
export APP_PORT="8080"

